<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/"><strong>PRO</strong>loja</a>
        <a class="navbar-brand fs-6" href="/admin">Admin</a>
    </div>
</nav>
